--extra-index-url https://download.pytorch.org/whl/cpu

SQLAlchemy[asyncio]==2.0.30
asyncpg==0.29.0
redis==5.2.1
pydantic-settings==2.9.1
fastapi==0.115.12
uvicorn==0.34.3
torch==2.8.0+cpu
transformers==4.53.0
semver==3.0.4
grpcio-tools==1.73.1
PyJWT==2.10.1
packaging
asyncpg
py-machineid==0.8.0
prometheus-fastapi-instrumentator==7.1.0
fastapi-health==0.4.0
presidio_analyzer==2.2.358
presidio_anonymizer==2.2.358
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.8.0/en_core_web_lg-3.8.0-py3-none-any.whl
